{{ form_start(form, {'attr': {'class': 'app-form'}}) }}

    <div class="form-group">
        {{ form_label(form.nomMateriel, 'Nom du matériel') }}
        {{ form_widget(form.nomMateriel) }}
    </div>

    <div class="form-group">
        {{ form_label(form.quantiteActuelle, 'Quantité actuelle') }}
        {{ form_widget(form.quantiteActuelle) }}
    </div>

    <div class="form-group">
        {{ form_label(form.seuilAlerte, 'Seuil d’alerte') }}
        {{ form_widget(form.seuilAlerte) }}
    </div>

    <button class="btn-create">
        {{ button_label|default('Enregistrer') }}
    </button>

{{ form_end(form) }}