{% extends 'base.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block body %}
    <h1>Materiel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiel.id }}</td>
            </tr>
            <tr>
                <th>NomMateriel</th>
                <td>{{ materiel.nomMateriel }}</td>
            </tr>
            <tr>
                <th>QuantiteActuelle</th>
                <td>{{ materiel.quantiteActuelle }}</td>
            </tr>
            <tr>
                <th>SeuilAlerte</th>
                <td>{{ materiel.seuilAlerte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_materiel_index') }}">back to list</a>

    <a href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">edit</a>

    {{ include('materiel/_delete_form.html.twig') }}
{% endblock %}
