{% extends 'base.html.twig' %}

{% block title %}Carton{% endblock %}

{% block body %}
    <h1>Carton</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carton.id }}</td>
            </tr>
            <tr>
                <th>CouleurCarton</th>
                <td>{{ carton.couleurCarton }}</td>
            </tr>
            <tr>
                <th>DateCarton</th>
                <td>{{ carton.dateCarton ? carton.dateCarton|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ carton.motif }}</td>
            </tr>
        </tbody>
    </table>

  <div class="page-actions">
    <a href="{{ path('app_carton_index') }}" class="profile-btn">
        Retour à la liste
    </a>

    <a href="{{ path('app_carton_edit', {'id': carton.id}) }}" class="profile-btn">
        Modifier
    </a>

    {{ include('carton/_delete_form.html.twig') }}
</div>
{% endblock %}
