{{ form_start(form, {'attr': {'class': 'app-form'}}) }}

    <div class="form-group">
        {{ form_label(form.titre, 'Titre') }}
        {{ form_widget(form.titre) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateEntrainement, 'Date entraînement') }}
        {{ form_widget(form.dateEntrainement) }}
        {{ form_errors(form.dateEntrainement) }}
    </div>

    <div class="form-group">
        {{ form_label(form.heureDebut, 'Heure début') }}
        {{ form_widget(form.heureDebut) }}
        {{ form_errors(form.heureDebut) }}
    </div>

    <div class="form-group">
        {{ form_label(form.heureFin, 'Heure fin') }}
        {{ form_widget(form.heureFin) }}
        {{ form_errors(form.heureFin) }}
    </div>

    <div class="form-group">
        {{ form_label(form.lieu, 'Lieu') }}
        {{ form_widget(form.lieu) }}
        {{ form_errors(form.lieu) }}
    </div>

    <div class="form-group">
        {{ form_label(form.equipe, 'Équipe') }}
        {{ form_widget(form.equipe) }}
        {{ form_errors(form.equipe) }}
    </div>

    <button class="btn-create">
        {{ button_label|default('Enregistrer') }}
    </button>

{{ form_end(form) }}