{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
    <h1>Equipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEquipe</th>
                <th>Categorie</th>
                <th>Saison</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.id }}</td>
                <td>{{ equipe.nomEquipe }}</td>
                <td>{{ equipe.categorie }}</td>
                <td>{{ equipe.saison }}</td>
                <td>
                    <a href="{{ path('app_equipe_show', {'id': equipe.id}) }}" class="btn-action btn-show">Voir</a>
                    <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}" class="btn-action btn-edit">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equipe_new') }}" class="btn-create">➕ Nouvelle équipe</a>
{% endblock %}
